<div class="bg-primary text-light p-3 mb-4">
  <div class="container">
    <h1 class="display-3" appFocusOnLoad>Examples</h1>
    <p class="lead">So we've talked in depth about modals, and screen readers. Lets play with some.</p>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-12 col-md-4 mb-3">
      <div class="card h-100 bg-dark text-light">
        <div class="card-header bg-dark text-light">
          Modal
        </div>
        <div class="card-body">
          <p>
            On our modal we're expecting functionality that it opens on top of the page, moves keyboard (and screen
            reader) focus into it, and that the focus can't escape out.
          </p>
        </div>
        <div class="card-footer">
          <a routerLink="single-modal" class="card-link link-light">Single</a>
          <a routerLink="multiple-modals" class="card-link link-light">Multiple</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div class="card h-100 bg-dark text-light">
        <div class="card-header bg-dark text-light">
          Dialog
        </div>
        <div class="card-body">
          <p>
            A dialog is similar functionally to a modal, except it doesnt have the ability to be closed by the user.
          </p>
          <p>
            The user fundamentally needs to interact with content in the modal to be able to close it.
          </p>
        </div>
        <div class="card-footer">
          <a routerLink="dialog" class="card-link link-light">Dialog</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div class="card h-100 bg-dark text-light">
        <div class="card-header bg-dark text-light">
          Interstitial
        </div>
        <div class="card-body">
          <p>
            Interstitial modals are quite the different beast, they're opened and closed programmatically without user
            interaction. Usually after a fixed amount of time.
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
