<div class="bg-primary text-light p-3 mb-4">
  <div class="container">
    <h1 class="display-3" appFocusOnLoad>
      Accessible Modals
    </h1>
    <p class="lead">An experiment in making modals truly accessible on all modern web based platforms.</p>
  </div>
</div>

<main class="container">
  <h2 class="mb-3">What's the problem with modals?</h2>

  <p>
    I guess the first problem with modals, maybe the most fundamental problem, is that they don't actually work
    how you'd expect them to.
  </p>

  <p>
    When defining a modal you need to think about the functionality:
  </p>

  <ul>
    <li>A modal should open on top of content.</li>
    <li>A modal should capture user focus.</li>
    <li>A modal may have an optional backdrop to fade out content behind.</li>
  </ul>

  <p>
    But then you need to go a step further and think about the use cases of a modal and realise that you've got a few
    different patterns at play.
  </p>

  <div class="row">
    <div class="col-12 col-md-4 mb-3">
      <div class="card h-100 bg-dark text-light">
        <div class="card-header bg-dark text-light">
          Modal
        </div>
        <div class="card-body">
          <p>
            On our modal we're expecting functionality that it opens on top of the page, moves keyboard (and screen
            reader) focus into it, and that the focus can't escape out.
          </p>
        </div>
        <div class="card-footer">
          <a routerLink="single-modal" class="card-link link-light">Single</a>
          <a routerLink="multiple-modals" class="card-link link-light">Multiple</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div class="card h-100 bg-dark text-light">
        <div class="card-header bg-dark text-light">
          Dialog
        </div>
        <div class="card-body">
          <p>
            A dialog is similar functionally to a modal, except it doesnt have the ability to be closed by the user.
          </p>
          <p>
            The user fundamentally needs to interact with content in the modal to be able to doClose it.
          </p>
        </div>
        <div class="card-footer">
          <a routerLink="dialog" class="card-link link-light">Dialog</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div class="card h-100 bg-dark text-light">
        <div class="card-header bg-dark text-light">
          Interstitial
        </div>
        <div class="card-body">
          <p>
            Interstitial modals are quite the different beast, they're opened and closed programmatically without user
            interaction. Usually after a fixed amount of time.
          </p>
        </div>
      </div>
    </div>

  </div>

  <p>
    Each of these patterns has a unique set of functional requirements, and whilst they share a common set of
    accessibility requirements, you have to consider each one and their use case.
  </p>

  <p>
    As no-one seems to have done this right, I know I certainly haven't, W3C have introduced the
    <code>&lt;dialog&gt;</code> element. But even that doesn't get you there. Throughout the rest of this experiment
    I won't be using the <code>&lt;dialog&gt;</code> element, as it doesn't have great cross browser support, and
    the Polyfill which the Google Chrome team have developed seems to make matters worse, not better.
  </p>


  <h2 class="mb-3">Okay, I've painted a pretty bleak picture, but dont lose hope.</h2>

  <p>
    Whilst it sounds like all is lost, and by no means will the following fix all defects across this staggering
    array of devices, it turns out there are a number of things you can do.
  </p>

  <ol>
    <li class="mb-3">
      Thankfully both Angular (via the
      <a href="https://material.angular.io/cdk/portal/overview" rel="nofollow noopener noreferrer" target="_blank">
        Angular CDK</a>) and
      <a href="https://reactjs.org/docs/portals.html" rel="nofollow noopener noreferrer" target="_blank">React</a>
      have the ability to portal your components elsewhere in the DOM
      tree, allowing you to put your modal in a sensible place... the end of the document.
    </li>
    <li class="mb-3">
      Again, Frameworks to the rescue, both Angular (via the
      <a href="https://material.angular.io/cdk/a11y/overview" rel="nofollow noopener noreferrer" target="_blank">
        Angular CDK</a>) and React (via
      <a href="https://github.com/theKashey/react-focus-lock/issues" rel="nofollow noopener noreferrer" target="_blank">
        React-Focus-Lock</a>) have the ability to focus lock your modal. If a user tries to escape, they get pulled
      right back in.
    </li>
    <li class="mb-3">
      When your Modal is open, make everything is <code>aria-hidden="true"</code> except for your modal, this means that
      even if the screen reader fails to get focus into your modal, the only place the user can go is into the modal.
      There's a great package
      <a href="https://github.com/theKashey/aria-hidden" rel="nofollow noopener noreferrer" target="_blank">
        Aria Hidden</a> which can help you with that, and as it's Vanilla.js&trade; it'll work anywhere you need it.
    </li>
    <li class="mb-3">
      ALWAYS have a focusable item, it doesnt need to visually look different, but something such as a button, or
      even a <code>&lt;span&gt;</code> with <code>tabindex="-1"</code> will suffice, and when your modal opens, focus
      on that item.
    </li>
    <li class="mb-3">
      If you don't need a user to interact, such as an interstitial, use an <code>aria-live</code> region to announce
      to your users what's going on.
    </li>
    <li class="mb-3">
      Combine <code>role="dialog"</code> and <code>aria-modal="true"</code> for maximum reachability.
    </li>
    <li class="mb-3">
      Add <code>aria-hidden="true"</code> to the element containing your backdrop, should you have one.
    </li>
    <li class="mb-3">
      When a modal opens because a user has clicked something, make sure they're returned to the same location.
    </li>
  </ol>

  <p>
    So if you check out the <a routerLink="/examples">Examples</a> page, you'll find examples of a few patterns of
    modals with various
    functionality included, and the result of cross device testing.
  </p>

</main>

