<div class="bg-primary text-light p-3 mb-4">
  <div class="container">

    <h1 class="display-3" appFocusOnLoad>
      Description Lists
    </h1>

    <p class="lead">
      These are our most complicated form of list, as a description list allows you to define key value pairs.
    </p>

  </div>
</div>

<div class="container">

  <p>For example, a Single Definition:</p>

  <dl class="row mb-5">
    <dt class="col-sm-3">Apple</dt>
    <dd class="col-sm-9">The round fruit of a tree of the rose family, which typically has thin green or red skin and crisp flesh.</dd>
  </dl>

  <p>They can also have multiple definitions of the same term:</p>

  <dl class="row mb-5">
    <dt class="col-sm-3">Banana</dt>
    <dd class="col-sm-9">A long curved fruit which grows in clusters and has soft pulpy flesh and yellow skin when ripe.</dd>
    <dd class="col-sm-9 offset-sm-3">The tropical and subtropical palmlike plant that bears bananas, having very large leaves but lacking a woody
      trunk.
    </dd>
  </dl>

  <p>This can be taken further to allow multiple terms:</p>

  <dl class="row mb-5">
    <dt class="col-sm-3">Cherry</dt>
    <dd class="col-sm-9">A small, soft round stone fruit that is typically bright or dark red.</dd>
    <dt class="col-sm-3">Damson</dt>
    <dd class="col-sm-9">Also called damson plum. the small, dark-blue or purple fruit of a plum, Prunus insititia, of the rose family,
      introduced into Europe from Asia Minor.
    </dd>
  </dl>

  <p>And finally allowing multiple terms with multiple definitions</p>

  <dl class="row mb-5">
    <dt class="col-sm-3">Elderberry</dt>
    <dd class="col-sm-9">The bluish-black or red berry of the elder, used for making jelly or wine.</dd>
    <dd class="col-sm-9 offset-sm-3">An elder tree or shrub.</dd>

    <dt class="col-sm-3">Fig</dt>
    <dd class="col-sm-9">
      Any tree or shrub belonging to the genus Ficus, of the mulberry family, especially a small tree, F. carica,
      native to southwestern Asia, bearing a turbinate or pear-shaped fruit that is eaten fresh, preserved, or dried.
    </dd>
    <dd class="col-sm-9 offset-sm-3">The fruit of such a tree or shrub, or of any related species.</dd>
  </dl>
</div>
