<div class="bg-primary text-light p-3 mb-4">
  <div class="container">

    <h1 class="display-3" appFocusOnLoad>
      Unordered Lists - custom bullet
    </h1>

    <p class="lead">
      Unordered lists are simply bulleted lists which can be nested, with custom bullet styles.
    </p>

  </div>
</div>

<div class="container">
  <p>This list uses the traditional <code>::before</code> pseudoelement</p>

  <ul class="custom-list">
    <li class="custom-list__item">First Item</li>
    <li class="custom-list__item">Second Item</li>
    <li class="custom-list__item">Third Item</li>
  </ul>

  <p>However, the more recent <code>::marker</code> pseudoelement allows us to customise the native list style.</p>

  <ul class="custom-marker-list">
    <li class="custom-marker-list__item">First Item</li>
    <li class="custom-marker-list__item">Second Item</li>
    <li class="custom-marker-list__item">Third Item</li>
  </ul>

  <em>Note: this does not work on IE11.</em>


</div>
