<div class="dropdown mt-5 ">
  <div>
    <label class="form-label" id="label">Dropdown select without text input</label>
  </div>

  <button #buttonElement
          class="btn btn-secondary dropdown-toggle"
          id="button"
          type="button"
          aria-controls="list"
          aria-haspopup="listbox"
          aria-labelledby="label button"
          [attr.aria-expanded]="isExpanded"
          (keydown)="onKeyDown($event)"
          (click)="toggleExpanded()"
          (blur)="onBlur()"
  >
    {{
    hasValue
      ? selectedOption.content
      : placeholder
    }}
  </button>

  <ul id="list"
      role="listbox"
      class="dropdown-menu"
      [class.show]="isExpanded"
      [attr.aria-activedescendant]="hasValue ? selectedOption.id : null"
      tabindex="-1">

    <ng-container *ngFor="let option of options; let i = index">
      <li [id]="option.id"
          role="option"
          (click)="commitValue(option)"
      >

        <span class="dropdown-item"
              [class.active]="option.hasFocus">
          {{option.value}} - {{option.content}}
        </span>

      </li>
    </ng-container>

  </ul>

</div>
