<div class="dropdown mt-5">

  <div class="form-label" id="label" (click)="buttonElement.focus()">
    Dropdown select without text input
  </div>

  <button #buttonElement
          class="btn btn-secondary dropdown-toggle"
          id="button"
          type="button"
          aria-controls="list"
          aria-haspopup="listbox"
          aria-labelledby="label button"
          [attr.aria-expanded]="isExpanded"
          (keydown)="onButtonKeyDown($event)"
          (click)="toggleExpanded()"
  >
    {{    hasValue ? selectedOption.content : placeholder    }}
  </button>


  <ul #listElement
      id="list"
      role="listbox"
      [attr.aria-activedescendant]="hasValue ? selectedOption.id : null"
      [class.show]="isExpanded"
      class="dropdown-menu"
      tabindex="-1">

    <ng-container *ngFor="let option of options; let i = index">
      <li #listItem
          role="option"
          tabindex="0"
          [id]="option.id"
          (focus)="onListItemFocus(listItem)"
          (keydown)="onListItemKeyDown($event, option)"
          (click)="commitValue(option)">

        <span class="dropdown-item"
              [class.active]="option.hasFocus">
          {{option.value}} - {{option.content}}
        </span>

      </li>
    </ng-container>

  </ul>

</div>
