<div class="bg-primary text-light p-3 pb-5 mb-4">
  <div class="container">

    <h1 class="display-3" appFocusOnLoad>
      Dialog
    </h1>

    <p class="lead">
      This is a dialog which is sitting on-top of content.
    </p>

    <p>
      Whilst the dialog is open, you wont be able to leave it, unless you perform a controlled task.
    </p>

    <button class="btn btn-light" (click)="openModal()" #trigger>Click to Open</button>

  </div>
</div>

<app-modal [isDialog]="true"
           [open]="modalState"
           [returnFocusTo]="trigger"
           [showBackdrop]="false">

  <ng-container appModalTitle>
    Jabberwocky
  </ng-container>

  <ng-container appModalFooter>
    <button class="btn btn-danger" (click)="closeModal()" aria-label="Cancel">Cancel</button>
    <button class="btn btn-success" (click)="closeModal()" aria-label="Save">Save</button>
  </ng-container>

  <p>’Twas brillig, and the slithy toves
    Did gyre and gimble in the wabe:
    All mimsy were the borogoves,
    And the mome raths outgrabe.</p>

  <p>“Beware the Jabberwock, my son!
    The jaws that bite, the claws that catch!
    Beware the Jubjub bird, and shun
    The frumious Bandersnatch!”</p>

</app-modal>

