<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/">Accessible Content</a>

    <button (click)="toggleNav()"
            [attr.aria-expanded]="navOpen"
            aria-controls="navbarNavAltMarkup"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavAltMarkup" class="navbar-collapse collapse" [class.show]="navOpen">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-link" routerLink="/modals" routerLinkActive="active">Modals</a>
        <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        <a class="nav-link" routerLink="/credits" routerLinkActive="active">Credits</a>
      </div>
    </div>


  </div>
</nav>

