<div class="bg-primary text-light p-3 mb-4">
  <div class="container">

    <h1 class="display-3" appFocusOnLoad>
      Inputs
    </h1>

    <p class="lead">
      Inputs are unquestionably one of the hardest parts of the web to make accessible, the problem being
      that they behave differently depending on device, and screen reader - it's becoming a common theme this.
    </p>

  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-12 col-md-4 mb-3">
      <a routerLink="radios" class="card h-100 text-decoration-none text-dark">
        <div class="card-header bg-primary text-light">Radios</div>
        <div class="card-body">
          <p class="mb-0">
            Radios are your classic select one from multiple choice inputs. A well as reading the question, they have to
            present options in a way which screen readers can understand. Which includes having to announce their
            position in the list of options.
          </p>
        </div>
        <div class="card-footer border-top-0 bg-transparent text-decoration-underline">
          See Example
        </div>
      </a>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <a routerLink="checkboxes" class="card h-100 text-decoration-none text-dark">
        <div class="card-header bg-primary text-light">Checkboxes</div>
        <div class="card-body">
          <p class="mb-0">
            Checkboxes are a clean multiple choice input following much the same rules as radios but with the option
            to select more than one item.
          </p>
        </div>
        <div class="card-footer border-top-0 bg-transparent text-decoration-underline">
          See Example
        </div>
      </a>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <a routerLink="synthetic-select" class="card h-100 text-decoration-none text-dark">
        <div class="card-header bg-primary text-light">Synthetic Select</div>
        <div class="card-body">
          <p class="mb-0">
            Dropdopwn lists are usually advised against due to the complex aria considerations required.
          </p>
        </div>
        <div class="card-footer border-top-0 bg-transparent text-decoration-underline">
          See Example
        </div>
      </a>
    </div>


  </div>

</div>
