<div class="bg-primary text-light p-3 mb-4">
  <div class="container">

    <h1 class="display-3" appFocusOnLoad>
      Unordered Lists
    </h1>

    <p class="lead">
      Unordered lists are simply bulleted lists which can be nested.
    </p>

  </div>
</div>

<div class="container">
  <p>This is a simple unordered list</p>

  <ul>
    <li>First Item</li>
    <li>Second Item</li>
    <li>Third Item</li>
  </ul>

  <p>However, the HTML specification allows for nesting of these lists</p>

  <ul>
    <li>
      Smith
      <ul>
        <li>Stan</li>
        <li>Francine</li>
        <li>Steve</li>
        <li>Hayley</li>
        <li>Roger</li>
      </ul>
    </li>
    <li>
      Simpson
      <ul>
        <li>Homer</li>
        <li>Marge</li>
        <li>Bart</li>
        <li>Lisa</li>
        <li>Maggie</li>
      </ul>
    </li>
  </ul>

  <p>They even go as far as allowing ordered lists within them</p>

  <ul>
    <li>
      Smith
      <ol>
        <li>Stan</li>
        <li>Francine</li>
        <li>Steve</li>
        <li>Hayley</li>
        <li>Roger</li>
      </ol>
    </li>
    <li>
      Simpson
      <ol>
        <li>Homer</li>
        <li>Marge</li>
        <li>Bart</li>
        <li>Lisa</li>
        <li>Maggie</li>
      </ol>
    </li>
  </ul>
</div>
