<div class="bg-primary text-light p-3 mb-4">
  <div class="container">

    <h1 class="display-3" appFocusOnLoad>
      Ordered Lists
    </h1>

    <p class="lead">
      Ordered lists are lists with numerical content
    </p>

  </div>
</div>

<div class="container">
  <p>This is a simple Ordered list</p>

  <ol>
    <li>First Item</li>
    <li>Second Item</li>
    <li>Third Item</li>
  </ol>

  <p>However, the HTML specification allows for nesting of these lists</p>

  <ol>
    <li class="mb-3">
      Smith
      <ol>
        <li>Stan</li>
        <li>Francine</li>
        <li>Steve</li>
        <li>Hayley</li>
        <li>Roger</li>
      </ol>
    </li>
    <li>
      Simpson
      <ol>
        <li>Homer</li>
        <li>Marge</li>
        <li>Bart</li>
        <li>Lisa</li>
        <li>Maggie</li>
      </ol>
    </li>
  </ol>


  <p>They even go as far as allowing unordered lists within them</p>

  <ol>
    <li class="mb-3">
      Smith
      <ul>
        <li>Stan</li>
        <li>Francine</li>
        <li>Steve</li>
        <li>Hayley</li>
        <li>Roger</li>
      </ul>
    </li>
    <li>
      Simpson
      <ul>
        <li>Homer</li>
        <li>Marge</li>
        <li>Bart</li>
        <li>Lisa</li>
        <li>Maggie</li>
      </ul>
    </li>
  </ol>
</div>
