<div class="bg-primary text-light p-3 mb-4">
  <div class="container">

    <h1 class="display-3" appFocusOnLoad>
      Checkboxes
    </h1>

    <p class="lead">
      Much like radios, checkboxes can be more complicated than they first appear
    </p>

    <p>
      So what are the rules for checkboxes:
    </p>

    <ol>
      <li>They must be announced as a group.</li>
      <li>The group must be described by "question".</li>
      <li>Each checkbox must describe a unique answer (values can be duplicated)</li>
      <li>Each checkbox must announce it's position in the list (e.g 1 of 4)</li>
      <li>Each checkbox must announce it's selected status</li>
    </ol>

    <p>
      <em>
        It seems that if checkboxes are off the bottom of the screen that Voiceover on iOS cant access them,
        as such a button is required off screen.
      </em>
    </p>

  </div>
</div>

<div class="container">
  <form>
    <fieldset class="mb-3">
      <legend>Please Select Some Items</legend>

      <div class="form-check">
        <input class="form-check-input" name="checkbox-one" id="input-one" type="checkbox"/>
        <label class="form-check-label" for="input-one">Item One</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="checkbox-two" id="input-two" type="checkbox"/>
        <label class="form-check-label" for="input-two">Item Two</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="checkbox-three" id="input-three" type="checkbox"/>
        <label class="form-check-label" for="input-three">Item Three</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="checkbox-four" id="input-four" type="checkbox"/>
        <label class="form-check-label" for="input-four">Item Four</label>
      </div>
    </fieldset>

    <button class="btn btn-primary" type="button">Button</button>

  </form>
</div>
