<div class="bg-primary text-light p-3 mb-4">
  <div class="container">

    <h1 class="display-3" appFocusOnLoad>
      Lists
    </h1>

    <p class="lead">
      Whilst most people would assume that lists are fairly standard, as with everything we've got to assume that
      there are multiple use cases.
    </p>

    <p>
      ...And of course, along with multiple use cases, comes different behaviour with screen readers.
    </p>

  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-12 col-md-4 mb-3">
      <a routerLink="ordered-list" class="card h-100 text-decoration-none text-dark">
        <div class="card-header bg-primary text-light">Ordered List</div>
        <div class="card-body">
          <p class="mb-0">
            Ordered lists are fairly standard lists, which usually have each item listed out with a number to indicate
            the position within the list.
          </p>
        </div>
        <div class="card-footer border-top-0 bg-transparent text-decoration-underline">
          See Example
        </div>
      </a>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <a routerLink="unordered-list" class="card h-100 text-decoration-none text-dark">
        <div class="card-header bg-primary text-light">
          Unordered List
        </div>
        <div class="card-body">
          <p class="mb-0">
            Much like ordered lists, an unordered list is farily standard however these are best used when the content
            doesn't have an ordered relevance.
          </p>
        </div>
        <div class="card-footer border-top-0 bg-transparent text-decoration-underline">
          See Example
        </div>
      </a>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <a routerLink="description-list" class="card h-100 text-decoration-none text-dark">
        <div class="card-header bg-primary text-light">Description List</div>
        <div class="card-body">
          <p class="mb-0">
            Description lists tend to be the standout amongst lists, instead of worrying about one piece of data, we've
            got the term and the definition to consider.
          </p>
        </div>
        <div class="card-footer border-top-0 bg-transparent text-decoration-underline">
          See Example
        </div>
      </a>
    </div>

  </div>

</div>
