<div class="bg-primary text-light p-3 mb-4">
  <div class="container">

    <h1 class="display-3" appFocusOnLoad>
      Lists
    </h1>

    <p class="lead">
      Whilst most people would assume that lists are fairly standard, as with everything we've got to assume that
      there are multiple use cases.
    </p>

    <p>
      ...And of course, along with multiple use cases, comes different behaviour with screen readers.
    </p>

  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-12 col-md-4 mb-3">
      <div class="card h-100 bg-dark text-light">
        <div class="card-header bg-dark text-light">
          Ordered List
        </div>
        <div class="card-body">
          <p>
            Ordered lists are fairly standard lists, which usually have each item listed out with a number to indicate
            the position within the list.
          </p>
        </div>
        <div class="card-footer">
          <a routerLink="ordered-list" class="card-link link-light">Ordered List</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <div class="card h-100 bg-dark text-light">
        <div class="card-header bg-dark text-light">
          Unordered List
        </div>
        <div class="card-body">
          <p>
            Much like ordered lists, an unordered list is farily standard however these are best used when the content
            doesn't have an ordered relevance.
          </p>
        </div>
        <div class="card-footer">
          <a routerLink="unordered-list" class="card-link link-light">Unordered List</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <div class="card h-100 bg-dark text-light">
        <div class="card-header bg-dark text-light">
          Description List
        </div>
        <div class="card-body">
          <p>
            Description lists tend to be the standout amongst lists, instead of worrying about one piece of data, we've
            got the term and the definition to consider.
          </p>
        </div>
        <div class="card-footer">
          <a routerLink="description-list" class="card-link link-light">Description List</a>
        </div>
      </div>
    </div>

  </div>

</div>
